body {
  margin: 0;
  padding: .1px; /* Prevent collapsing margins */
}

#backdrop {
  display:none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#backdrop.editMode {
  display: block;
}

#ruleComponent {
  background-color: white;
  position: relative;
  margin: 0 100px;
}

#ruleComponent.loading {
  display: none;
}

#animatedBox {
  background-color: rgba(0, 0, 255, .4);
  width: 300px;
  /*
    Prevent margin collapsing.
    https://css-tricks.com/what-you-should-know-about-collapsing-margins/
  */
  padding: 0.1px;
}
